.tableWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
